<div class="hero-image" style="height:500px">
  <div class="container">
    <h1 style="color:white;bottom:10px;position:absolute">Find your representative to give them a call or communicate with them on twitter.  Soon you will be able to send them an actual piece of mail!</h1>
  </div>
</div>
<div class="container">
<br/<br/><br>
   <form action="/reps" method="post" class="form-horizontal">
      <div class="form-group">
    <label class="col-sm-2 control-label">Address: </label>
       <div class="col-sm-10"><input style="width:400px" class="form-control" type="text" name="address"><br>
  </div></div>
  <div class="form-group">
<label class="col-sm-2 control-label">City: </label>
<div class="col-sm-10"><input style="width:400px" class="form-control" type="text" name="city"><br>
  </div></div>
  <div class="form-group">
<label class="col-sm-2 control-label">State: </label>
<div class="col-sm-10"><input style="width:400px" class="form-control" type="text" name="state"><br>
  </div></div>
  <div class="form-group">
<label class="col-sm-2 control-label">Zip: </label>
<div class="col-sm-10"><input style="width:400px" class="form-control" type="text" name="zip"><br>
  </div></div>
  <div class="col-sm-1"></div><div class="col-sm-10">
    <input type="submit" class="btn btn-lg btn-primary" value="Lookup Now">
  </div>
  </form>

</div>
<br/><br/>
