<h1>Find your representative to give them a call or send them a piece of actual mail!</h1>

<form action="/reps" method="post">
  Address: <input type="text" name="address"><br>
  City: <input type="text" name="city"><br>
  State: <input type="text" name="state"><br>
  Zip: <input type="text" name="zip"><br>
  <input type="submit" value="Submit">
</form>
