<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <title>Contact Your Rep</title>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100321218-1', 'auto');
  ga('send', 'pageview');

</script>
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  <!--  <style>
      *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        width: 8.5in;
        height: 11in;
        margin: 0;
        padding: 0;
      }

      .page {
        page-break-after: always;
        position: relative;
        width: 8.5in;
        height: 11in;
      }

      .page-content {
        position: absolute;
        width: 8.125in;
        height: 10.625in;
        left: 0.1875in;
        top: 0.1875in;
        background-color: rgba(0,0,0,0);
      }

      .text {
        position: relative;
        left: 20px;
        top: 20px;
        width: 6in;
        font-family: 'Open Sans';
        font-size: 30px;
      }

      p {
        position: relative;
        left: 20px;
        top: 20px;
        width: 6in;
        font-family: 'Open Sans';
        font-size: 14px;
      }

      #return-address-window {
        position: absolute;
        left: .625in;
        top: .5in;
        width: 3.25in;
        height: .875in;
        background-color: rgba(255,0,0,0.5);
      }

      #return-address-text {
        position: absolute;
        left: .07in;
        top: .34in;
        width: 2.05in;
        height: .44in;
        background-color: white;
        font-size: .11in;
      }

      #return-logo {
        position: absolute;
        left: .07in;
        top: .02in;
        width: 2.05in;
        height: .3in;
        background-color: white;
      }

      #recipient-address-window {
        position: absolute;
        left: .625in;
        top: 1.75in;
        width: 4in;
        height: 1in;
        background-color: rgba(255,0,0,0.5);
      }

      #recipient-address-text {
        position: absolute;
        left: .07in;
        top: .05in;
        width: 2.92in;
        height: .9in;
        background-color: white;
      }

    </style> -->
  </head>

  <body>
    <%= yield %>
    <footer class="footer-distributed">

    <div class="footer-left">


      <p class="footer-company-name">Chad Stachowicz &copy; 2017</p>

      <div class="footer-icons">

        <a href="https://www.facebook.com/chadstachowicz"><i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com/chadstachowicz"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/chadstachowicz/ContactYourRep"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

  <!--    <p>Contact Us</p>

      <form action="#" method="post">

        <input type="text" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      </form> -->

    </div>

  </footer>

  </body>
</html>
